.interactioninformation {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding-top: 10%;
    padding-bottom: 10%;
    gap:5%;
}

.interactioninformation > .accountprofile {
    width: 20%;
    
}

.interactioninformation--link {
    width:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.interactioninformation--link > * {
    margin: 0;
    text-align: center;
}


/* Redundant */
.interactioninformation--link > img{
    width:30%;
}

