.interactionarea {
    width:100%;
    height:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.interactionarea > div > img {
    width: 25px;
   
}

.interactionarea > div > img:hover {
    filter: opacity(50%);
   
}


.interactionarea > div {
    display:flex;
    gap:10px;
    padding: 10px;
}

