:root {
  --staticinfo-margin-left: 2vw;
  --navbar-width:18vw;
}

.navbar {
  background-color: white;
  width: var(--navbar-width);
  height: 100%;
  flex-direction:column;
  position:fixed;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.navbutton{
  margin: 10px 20px;
  padding: 0 0px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
}

.navbutton > img{
  width: 10%;
  height: auto;  
  transition: width 0.2s;
}

.navbutton:hover{
  background-color: rgba(0, 0, 0, 0.025);
}

.navbutton:hover .navbuttonimg{
  width:11%;
}

.instagram_logo {
  width:32%;
  margin:30px 15px;
}


.staticinfo{
  margin-top: auto;
  margin-bottom: 5vh;
  margin-left: var(--staticinfo-margin-left);
  margin-right: auto;
  display:flex;
  flex-direction: column;
  gap:3vh;
}
