.navbar {
  background-color: white;
  width: 18%;
  height: 100%;
  flex-direction:column;
  position:fixed;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.navbutton{
  margin: 10px 20px;
  padding: 0 0px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
}

.navbutton > img{
  width: 12%;
  height: auto;  
  transition: width 0.2s;
}

.navbutton:hover{
  background-color: rgba(0, 0, 0, 0.025);
}

.navbutton:hover .navbuttonimg{
  width:13%;
}

.instagram_logo {
  width:32%;
  margin:30px 15px;
}


.staticinfo{
  margin-top: auto;
  border:2px solid pink;
  margin-bottom: 3vh;
  margin-left: 3vh;
  display:flex;
  flex-direction: column;
  gap:3vh;
}


.staticinfo > * {
  text-align: center;
  display: flex;
  overflow: visible;
}