
.popularityinformation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:24%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 2px solid;
}

.popularityinformation > div {
    width:20%;
}

.popularityinformation > div > img {
    width:100%;
}


.popularityinformation > p {
    width: 40%;
    text-align: center;
}   