.post {
    border: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.2);
    width:35%;
    margin-right: 20%;
    gap:5px;
    border-radius: 5px;
    background-color: white;
}

.post > img {
    width:100%;
    margin:0;
}