


.post {
    margin-left: 10%;
    border-radius: 5px;
    background-color: white;
    border: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.2);
    width:25%;
    gap:5px;
}

.post > img {
    width:100%;
    margin:0;
}


.postdata--h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    /* border: 2px solid; */
}

.postinformation {
    border-style:ridge;
    border-width: 5px;
    border-color: blueviolet;
    border-radius: 5%;
}
