.revealbutton {
    padding: 0.5%; 
    display:flex;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
    position:relative;
    cursor:pointer;
}

.revealbutton > img{
    width:100%;
}

.revealed {

    border: 2px solid;
    border-color: blueviolet;
    background-color: white;
}

.notrevealed { 
    border-style: none;
    background-color: blueviolet;

}

.tooltiptext {
    position: absolute;
    border: 1px solid;
    background-color: rgba(138,43,226,0.5);
    bottom:-25px;
    left:70%;
    /* transform:translateX(-50%); */
    border-radius: 5px;

}


